Repository sorinburghiu2323/Conffiliate, pull requests merged in 2021-04, with the labels that each got.

#6 Registration
  frontend/hot.config.js
  frontend/package-lock.json
  frontend/src/App.vue
  frontend/src/components/RegisterSteps/Step1.vue
  frontend/src/components/RegisterSteps/Step2.vue
  frontend/src/components/RegisterSteps/Step3.vue
  frontend/src/components/RegisterSteps/Step4.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/router/router.js
  frontend/src/views/Register.vue
Labels: frontend

#4 Added tests for post users
  backend/tests.py
  backend/tests/__init__.py
  backend/tests/test_users.py
  backend/viewsets.py
Labels: backend

#8 Keywords & Platforms phrase filter
  backend/tests/test_keywords.py
  backend/tests/test_platforms.py
  backend/viewsets.py
Labels: backend, testing

#11 Frontend fixes
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/css/progress-bar.css
  frontend/src/components/HelloWorld.vue
  frontend/src/components/RegisterSteps/Step1.vue
  frontend/src/components/RegisterSteps/Step2.vue
  frontend/src/components/RegisterSteps/Step3.vue
  frontend/src/components/RegisterSteps/Step4.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/views/Home.vue
  frontend/src/views/Register.vue
  frontend/vue.config.js
Labels: enhancement, frontend, hotfix

#13 Bootstrap command implementation
  README.md
  backend/management/commands/__init__.py
  backend/management/commands/bootstrap.py
Labels: :man_technologist: Backend
